body{background-color:green;}
 h1{ color:;
	 text-align:center;
	 font-size:50px;
	 color:steelblue;
	 font-style:ariel;    /* can be ariel,italics*/
	 font-weight:bold;
 }
 form{margin:30px auto;
	width:320px;
	color:steelblue;
	 
 }
 input{ padding:10px;
        font-size:inherit;
	 
 }
 input[type="text"]{
	 display:block;
	 margin-bottom:25px;
	 width:100%;
	 border:2px solid steelblue;
	 background:#FAF609;
 }
 input[type="text"]{
	 display:block;
	 margin-bottom:25px;
	 width:100%;
	 border:2px solid steelblue;
	 background:#FAF609;
 }
 input[type="text"]{
	 display:block;
	 margin-bottom:25px;
	 width:100%;
	 border:2px solid steelblue;
	 background:#FAF609;
 }input[type="email"]{
	 display:block;
	 margin-bottom:25px;
	 width:100%;
	 border:2px solid steelblue;
	 background:#FAF609;
 }
 input[type="password"]{
	 display:block;
	 margin-bottom:25px;
	 width:100%;  
	 border:2px solid steelblue;
	 background:#FAF609;
 }
 input[type="conform password"]{
	 display:block;
	 margin-bottom:25px;
	 width:100%;
	 border:2px solid steelblue;
	 background:#FAF609;
 }
 input[type="radio"]:first-child{
	 margin:o8px 25px 18px;
	 }
input[type="submit"]{
	
	width:344px;
	height:45px;
	border:none;
	background-color:steelblue;
	color:white;	
}
input:focus{
	background:white;
}
input[type="radio"]:checked+label{
	font-weight:bold;
    font-size:18px;}
	
}